<div class="hero-unit">
  <h1>Let's Dance</h1>

  <p>Have <a href="http://spotify.com">Spotify</a>? AutoTunes will DJ your party based on a playlist of your choice,
    take requests from your friends via mobile, and allow the crowd to skip any duds. Oh yeah, and obviously it's free.</p>

  <p><a class="btn btn-primary btn-large" href="/djs/create">Get Started &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>High Fidelity</h2>

    <p>AutoTunes uses your Spotify player for high quality music streaming and a huge music selection.</p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Mobile Enabled</h2>

    <p>Your friends can make requests and vote on tracks directly from their smart phones. No need for a crowd around the computer.</p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Autonomous</h2>

    <p>AutoTunes will keep the music going with random tunes from the Spotify library, even if you stop making requests. </p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
</div>